In [0]:
%run ./Classroom-Setup-Common

In [0]:
%sql
USE CATALOG dbacademy;
USE SCHEMA IDENTIFIER(DA.schema_name);

In [0]:
%sql
-- Sample data for MERGE INTO
DROP TABLE IF EXISTS main_users_target;
-- Create the target table
CREATE OR REPLACE TABLE main_users_target (
    id INT,
    first_name STRING,
    email STRING,
    sign_up_date DATE,
    status STRING
);
-- Insert sample data into the target table
-- INSERT INTO main_users_target VALUES
-- (1, 'Panagiotis', 'panagiotis@example.com', '2024-01-01', 'current'),
-- (2, 'Samarth', 'samarth@example.com', '2024-01-05', 'current'),
-- (3, 'Zebi', 'zebi@example.com', '2024-01-10', 'current'),
-- (4, 'Mark', 'mark@leadinst.com', '2024-02-10', 'current');

In [0]:
spark.sql('''
INSERT INTO main_users_target VALUES
(1, 'Panagiotis', 'panagiotis@example.com', '2024-01-01', 'current'),
(2, 'Samarth', 'samarth@example.com', '2024-01-05', 'current'),
(3, 'Zebi', 'zebi@example.com', '2024-01-10', 'current'),
(4, 'Mark', 'mark@leadinst.com', '2024-02-10', 'current')
''')
print('Created the main_users_target table.')

In [0]:
%sql
DROP TABLE IF EXISTS update_users_source;
-- Create the source table
CREATE OR REPLACE TABLE update_users_source (
    id INT,
    first_name STRING,
    email STRING,
    sign_up_date DATE,
    status STRING
);
-- Insert sample data into the source table

In [0]:
spark.sql('''
INSERT INTO update_users_source VALUES
(1, 'Panagiotis', 'panagiotis@example.com', '2024-01-01', 'delete'),  -- User to delete
(2, 'Samarth', 'samarth123@newemail.com', '2024-01-05', 'update'),    -- Update Samarths's email
(5, 'Owen', 'owent@theemail.com', '2023-01-15', 'new'),               -- New user to insert
(6, 'Eva', 'ej@princessemail.com', '2023-01-15', 'new')               -- New user to insert
''')
print('Created the update_users_source table.')

In [0]:
%sql
DROP TABLE IF EXISTS new_users_source;
-- Create the source table
CREATE OR REPLACE TABLE new_users_source (
    id INT,
    first_name STRING,
    email STRING,
    sign_up_date DATE,
    status STRING,
    country STRING
);
-- Insert sample data into the source table

In [0]:
spark.sql('''
INSERT INTO new_users_source VALUES
(7, 'Kristi', 'kristi@theemail.com', '2023-01-15', 'new', 'USA'),               -- New user to insert
(8, 'Mohammad', 'mohammad@princessemail.com', '2023-01-15', 'new','Pakistan'),  -- New user to insert
(9, 'Christos', 'christos@example.com', '2024-01-01', 'new','Greece');          -- New user to insert
''')
print('Created the new_users_source table.')